#block-josh-front-main-menu-left-sidebar.navigation.menu--main {

    a {
        /* Highlight current */
        &.is-active {
            &,
            &:hover,
            &:focus {
                color: #fff;
                background-color: #428bca;
            }
        }
    }
}

// Make h2 look like h3 in the sidebar.
.layout-sidebar {
    &-first,
    &-second {
        h2 {
            font-size: 24px;
        }
    }
}